button {
  border: none !important;
  background: none !important;
  cursor: pointer;
}

img {
  width: 20px;
  cursor: pointer;
}

.homeImg {
  width: 30px;
}

.homeDiv {
  margin-left: 2%;
  margin-top: 1%;
  cursor: pointer;
}
