<div fxLayout="row">
  <div fxFlex="13" class="homeDiv" (click)="goToHome()">
    <span mat-button>
      <img src="../../assets/home.png" class="homeImg" alt="" />
    </span>
  </div>
  <div fxFlex="70">
    <form [formGroup]="inputForm">
      <mat-form-field floatLabel="never" fxFill>
        <button matSuffix type="submit" (click)="searchImage()">
          <img src="../../assets/search.png" width="20px" alt=""/>
        </button>

        <input autofocus type="text" matInput placeholder="{{ searchKeyValue }}" formControlName="searchKey" />
      </mat-form-field>
    </form>
  </div>
  <div fxFlex="13" fxLayoutAlign="end center">
    <span mat-button [matMenuTriggerFor]="menu">
      <img src="../../assets/user.png" alt=""/>
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirectToFavorite()">
        {{ myFavoritesDropdownValue }}
      </button>
    </mat-menu>
  </div>
</div>
